<h1>hey there, demons. it's me, ya boy bryan lim.</h1>
<p>I'm from Torrance, California (SoCal) so needless to say I really miss the beach. </p>
<p>I am a Junior and a fun fact about me is that I have an ingrown toenail this very moment.</p>
<p>I'm most excited to learn how I can use RoR to create web apps for myself! The possibilites seem endless.</p>